/*
 * Global
 */
@font-face {
    font-family: 'pixel';
    src: url('pixel.ttf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    user-select: none;
    color: white;
    background: black;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    font-family: 'pixel';
    align-items: center;
    justify-content: center;
    overflow-y: none;
    overflow-x: none;
}

p {
    font-size: 2em;
}

button {
    font-family: 'pixel';
    background: none;
    border: none;
    color: white;
    z-index: 2;
    margin: 0px;
    padding: 0px;
}

canvas {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.blink {
    animation: blink 1s linear infinite;
}

/*
 * buttons
 */
#btnPlay {
    font-size: 10em;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
 * animations
 */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
